.sidebar__container {
  width: 20%;
  height: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar__logoContainer {
  width: 80%;
  margin: 1rem 0;
  text-align: center;
}

.sidebar__logo {
  max-width: 100%;
}

.sidebar__profilePicContainer {
  width: 80%;
  margin: 1rem 0;
  text-align: center;
}

.sidebar__profilePic {
  max-width: 100%;
  border-radius: 50%;
}

.fadeIn {
  animation: fade 0.9s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

.sidebar__introTextContainer {
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar__introText {
  font-size: 1.5rem;
}

.sidebar__introText h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.5rem;
}

.sidebar__nav {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 700;
}

.sidebar__social {
  margin: 1rem 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2rem;
}

a {
  color: white;
}
